body {
    background-color: whitesmoke;
}

#salesBody {
    background:slategray;
}
h1 {
    Font-family: Helvetica, Sans-serif;
    text-align: center;
    color: pink;
    font-size: 50px;
}
h2 {
    Font-family: Helvetica, Sans-serif;
    text-align: center;
    color: hotpink;
    font-size: 30px;
}
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
#navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 40px;
  }
  
  .content {
    padding: 16px;
    font-size: 22px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  a:hover{
    background-color: (red);
    font-family: Futura, monotype;
    color: blueviolet;
    font-weight:150;
    font-size: 100px;

  }

a:hover {
    color: green;
}

#pikeList {
    width: 600px;
    color:white;
    font-size: 50px;
    background-color: darkred;
    text-align: left;
    list-style: none;
    
}
#seaTacList {
    width: 600px;
    color: black;
    font-size: 50px;
    background-color: orangered;
    left:600px;
    text-align: left;
    list-style: none;
}

#seattleCenterList {
    width: 600px;
    color: gray;
    font-size: 50px;
    background-color: lightgreen;
    left:1200px;
    text-align: left;
    list-style: none;
}


#capitolHillList {
    width: 600px;
    color: black;
    font-size: 50px;
    background-color: green;
    left:1800px;
    text-align: left;
    list-style: none;
}
#alkiList {
    width: 432px;
    color: white;
    font-size: 50px;
    background-color: darkblue;
    left:2400px;
    text-align: left;
    list-style: none;
}
ul {
    margin: auto;
    top: 515px;
    width: 500px;
    position: absolute;
}
 
  /* found this navbar code on google in first few results*/ 